config/
dist/
node_modules/
src/pages/
src/app.config.ts
src/app.scss
src/app.ts
src/index.html
.editorconfig
.eslintrc
.gitignore
.npmrc
babel.config.js
global.d.ts
project.config.json
tsconfig.json
yarn.lock
package-lock.json
